* {
    margin: 0%;
  }
  
  .gridwrapper {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-areas: 
      'he he he he he he'
      'he he he he he he'
      'ar ar ar ar ar ar'
      'as as as as as as'
      'ft ft ft ft ft ft'
      ;
  

      grid-gap: 0px;
      overflow: hidden;
  }
  
  .firstpic {
      background-image: url("headerhamburger.jpeg");
      overflow: hidden;
      background-size: cover;
      background-position: center;
      grid-area: he;
    }

    .logo{ 
      margin-left: 40%;

    }

    .list li{
      font-size: 50px;
      color: white;
      list-style-type: none;
      display: inline-block;
      margin: 10px;
      line-height: 300%;
      margin-top: auto;
      font-family: 'Ubuntu', sans-serif;
      padding: 0%;
    }

      ul {
      text-align: center;
      }



  .article {
      width: 100%;
      height: 392px;
        grid-area: ar;
        background: white;
  }

  
.article h5 {
      padding-top: 60px;
      padding-left: 30px;
      font-size: 45px;
      font-family: 'Ubuntu', sans-serif;
}

.list2{
      font-family: 'Ubuntu', sans-serif;
      font-size: 30px;
      list-style-type: none;
      padding-top: 20px;
      float: left;
}

.lorem{
      display: inline-block;
      float: right;
      width: 50%;
      padding-top: 20px;
      font-size: 30px;
      font-family: 'Ubuntu', sans-serif;
}

.aside {
      background-image: url("img/burger2.jpeg");
        grid-area: as;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 392px;
  }

.lorem2{
      width: 100%;
      padding-top: 20px;
      font-size: 30px;
      font-family: 'Ubuntu', sans-serif;
}

  .footer {

        grid-area: ft;
        background: linear-gradient(#848484, #1c1c1c);
        width: 100%;
        height: 200px;
  }
